.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-heigth {
    min-height: 75%;
    background-color: brown;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}